# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv
venv/
ENV/
env/

# Environment variables
.env
config/.env

# IDE
.idea/

# Database
*.db
*.sqlite
*.sqlite3

# Mail archive artifacts
*.eml

# Logs
*.log

# Docker volumes / data
/data/
/state/

# OS files
.DS_Store
